# Node modules
node_modules/

# Next.js build output
.next/
out/

# Production build
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.local

# Optional: Mac system files
.AppleDouble
.LSOverride

# Optional: Windows system files
$RECYCLE.BIN/ 